.header {
  position: sticky;
  top: 0;
  background-color: #db4c3f;
  z-index: 100;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.header__left > input {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.header__left > input::placeholder {
  color: white;
  padding-left: 5px;
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.header__icon {
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
