.sidebar {
  flex: 1;
  background-color: #fafafa;
  padding-left: 10px;
  padding-right: 20px;
  height: 100vh;
}

.sidebar__menu {
  margin: 40px;
}

.sidebar__menuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar__menuItem > p {
  margin-left: 10px;
  font-size: 14px;
}

.sidebar__menuItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 100%;
}

.sidebar__projectsMenu {
  margin-left: 20px;
}

.sidebar__projectsMenuProject {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar__projectsMenuArchived {
  color: lightgray;
  font-size: 13px;
  cursor: pointer;
}
